@use '@/components/sp-icon/index.scss' as *;

html,
body,
#app {
  font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', Arial,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: var(--el-bg-color-page);
  color: var(--el-text-color-primary);
  font-size: 14px;
}

/*
 * 1. 防止填充和边框影响元素宽度。 (https://github.com/mozdevs/cssremedy/issues/4)
 * 2. 允许仅通过添加边框宽度向元素添加边框。 (https://github.com/tailwindcss/tailwindcss/pull/116)
 */
*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

img,
video {
  max-width: 100%;
  height: auto;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar:horizontal {
  height: 6px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--bg-scrollbar-thumb);
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
  background-color: var(--bg-scrollbar-thumb-hover);
}

p {
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
}

// 布局组件之间的默认间距
$sp-space-wrap-default: 12px;

/**
 * 默认亮色主题变量
 */
:root {
  // 布局组件之间的默认间距
  --bg-scrollbar-thumb: #0003;
  --bg-scrollbar-thumb-hover: #0000004d;
  // 系统中的点缀色
  --sp-color-second: #7efeea;
  --sp-color-second-dark: #5cbcb6;
  --sp-color-second-darker: #499daa;
  --sp-aside-width: 64px;
  --sp-header-height: 96px;
  // logo、子菜单宽度
  --sp-header-logo-width: 194px;
  // 覆盖的背景颜色，一般用于页面布局卡片的背景
  --sp-bg-color-overlay: #fff;
  // 覆盖的背景颜色 的 rgb 值，一般用于页面布局卡片的背景
  --sp-bg-color-overlay-rgb: 255, 255, 255;
  // 标题字体颜色
  --sp-title-color: #5b75a9;
  // 布局组件之间的默认间距
  --sp-space-wrap-default: #{$sp-space-wrap-default};
  // el 覆盖色 rgb 值
  --el-fill-color-light-rgb: 245, 247, 250;
}
